/*------------------------------------------------------------Header */
body {
    color: #eee7e7;
    font-family:  "Inria Serif" sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    
}

h1,
h2,
h3,
h4 {
    font-family: "Lato" sans-serif;
    font-weight: 700;
    color: #eee7e7;
    letter-spacing: 4px;        
}

#logo {
    float: left;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#logo:hover {
  color: #fffff4;
  font-size: 35px;
}

.active{
    border-bottom: 1px solid #c71515;
} 

.link {
    font-family: "Lato" sans-serif;
    font-weight: 400;
    height: 100%;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.link:hover {
    color: #f4f4f4;
    font-size: 120%;
} 


.menuitem a {
    width: 100%;
    color: #eee7e7;
    text-decoration: none;    
}

.all-nav {

    width: 100%;
    background-color: #232C33;
    z-index: 1;
}

/*----------------------------------------------------------- Home  */

#hero-outer {
    width: 100%;
    background-color: #555353c2;
    padding-top: 0;
    padding-right: 5%;
    padding-left: 10%;
         
}

#hero-image {
    max-width: 95%;
    /* max-height: 600px; */
    text-align: center;   
    z-index: 3;

    animation-name: home-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;

}

@keyframes home-zoom{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
} 

#main-content {
    width: 100%;
    max-height: 100vh;
    line-height: 30px;     
    padding: 20px 20%;
    background-color:#1C3144;
    position: relative;
    display: block;
    

}

.content-box {
    text-align: left;
    font-size: 20px;

}

.map-outer,
.link-outer {
    /* min-height: 400px; */
    background-color: #232C33;
    padding:  5%;
    text-align: center
}

.map {
    height: 100%;
    text-align: center;
}





/*------------------------------------------------ paddings, margins,text and stuff */
.text {
    font-family: "Inria Serif" sans-serif;
    font-weight: 400;
    color: #eee7e7;  
    font-size: 20px;  
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 500;
}

.general-sub {
    font-family: "Lato", serif;
    font-weight: 300;
    color: #eee7e7;
}

.inline-block {
    display: inline-block;
}


/*---------------------------------------------------------- Footer */

footer {
    background-color: #292828c2;
    color: #eee7e7;
    min-height: 120px;
    margin: 0;    
    display: block;
   /* left: 0;
    right: 0;*/
    bottom: 0;
    text-align: center;
}

.footer {
    z-index: 2;
    position: relative;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 64px;
    height: 64px;
    padding: 24px 0;
    border-radius: 50%;
    font-size: 40px;
    line-height: 10px;
    text-align: center;
    color: #eee7e7;
    background-color: #292828c2;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #c71515;    
}

#footer-details {
    padding: 40px;
}

/*-----------------------------------------------------------Contact */


.contact-invitation {
    min-height: 150px;
    width: 100%;
    padding: 10%;
    text-align: center;
    position: relative;
    display: block;   
    background-color: #555353c2;    
}

.contact-form {
    min-height: 120px;
    width: 100%;
    padding: 10% 20%;
    position: relative;
    display: block;
    background-color:#232C33;
}

/*------------------------------------------------------- Beginners */
.welcome{
    position: relative;
    z-index: 2;
    background-color: #555353c2;
    padding:2% 20%;
}

.quote {
    background-color: #1C3144;
}

 .welcome-text {
    text-align: center;
    font-size: 23px;   
}

.author {
    text-align: right;
    font-size: 19px; 
}

.beginners-zone {
    width: 100%;
    display: block;
    position: relative;
    background-color: #555353c2;
    padding-top: 30px;
    padding-left: 15%;
    padding-bottom: 20px;
    margin: 0;       
}

.background-image {
    width: 80%;
    max-height: 600px;
    
    z-index: 3;
    text-align: center;
   
    
    animation-name: beginners-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    -moz-animation-duration: 6s;
    -moz-animation-fill-mode: forwards;
    
}

@keyframes beginners-zoom{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.short-description {
    position: relative;
    z-index: 1;
    background-color:#1C3144;
    margin-top:0;
    margin-bottom: 0;
    padding:5% 20%;
}


/*------------------------------------------------------- Gallery*/

#gallery-text {
    position: relative;
    height: 20%;
    padding: 4% 12%;
    font-size: 20px;
    background-color: #555353c2;
    text-align: center;
}

.display-order {
     background-color:  #1C3144;
     padding: 5%;
     text-align: center;
}

.picture {
    object-fit: scale-down;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline;
}

#picture  {

    padding: 30px;
    margin: 0;
    border: 0;
    background-color:  inherit;
} 

.gallery-item {
    object-fit:contain;
}

/*------------------------------------------------------- About Our Club*/

.container-about {    
    background-color: #555353c2;
    padding: 5%;  
    margin: 0;
    width: 100%;    
}

.picture-about {
    text-align: center
}

.text-about {
 
    text-align: center;    
    /* width: 120%; */
    /* line-height: 26px; */
    padding:0 4%;
    }

.container-jason {
    background-color:  #232C33;
    padding: 5%;
    margin: 0; 

    /* display: block; */
    /* float:right; */
}  

.picture-jason {
    text-align: center;
}

.text-jason {
    width: 100%;
    line-height: 26px;
    text-align: center;
    padding:0 4%;
    /* float: right; */
}
