/*----------------------------Nav */

.list-inline-item:not(:last-child) {
    margin: 20px;
    padding: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 28px;
    padding: 20px;
    display: inline;
}

.menuitem {
    height: 100%;
    text-align: center;
    padding-left: 20px;
}

.menuitem:hover {
    background-color: #111111;
}

.menuitem a {
    width: 100%;
    color: #eee7e7;
    text-decoration: none;    
}

.all-nav {
    height: 60px;
    width: 100vw;
    background-color: #292828c2;
    padding:0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

}


/*----------------------------------------- Header   */

.picture-header {
    
}